body {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.hero {
    flex-direction: column;
    background-color: white;
    height: 90vh;
    width: 75vw;
    align-self: flex-end;
    box-shadow: 0 0 20px 5px black;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 5vw;
}

.intro h1, .intro h2 {
    margin: 0;
}

.menu-item {
    padding-top: 5vh;
    padding-right: 2vh;
    font-size: 3vw;
}

.side-nav {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 1023px) {
    .side-nav {
        position: fixed;
        top: 0;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        min-width: 100vw;
        font-weight: 500;
    }
    
    .side-nav span {
        padding: 0 2vw;
        font-size: 5vw;
    }
    
    .menu-name {
        position: fixed;
        left: 0;
    }

    .hero {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10vh;
        height: 90vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 5vw;
        box-shadow: 0 0 0 0;
    }

    .hero h1, .hero h2 {
        margin: 1vw;
    }
}